- if @project.pages_deployed?
  - pages_url = @project.pages_url(with_unique_domain: true)

  = render Pajamas::CardComponent.new(card_options: { class: 'gl-mb-5', data: { qa_selector: 'access_page_container' } }, footer_options: { class: 'gl-alert-warning' }) do |c|
    - c.header do
      = s_('GitLabPages|Access pages')
    - c.body do
      %p
        %strong
          = s_('GitLabPages|Your pages are served under:')

      %p
        = external_link(pages_url, pages_url)

      - @project.pages_domains.each do |domain|
        %p
          = external_link(domain.url, domain.url)
    - unless @project.public_pages?
      - c.footer do
        - help_page = help_page_path('user/project/pages/pages_access_control')
        - link_start = '<a href="%{url}" target="_blank" class="gl-alert-link" rel="noopener noreferrer">'.html_safe % { url: help_page }
        - link_end = '</a>'.html_safe
        = html_escape_once(s_('GitLabPages|Access Control is enabled for this Pages website; only authorized users will be able to access it. To make your website publicly available, navigate to your project\'s %{strong_start}Settings &gt; General &gt; Visibility%{strong_end} and select %{strong_start}Everyone%{strong_end} in pages section. Read the %{link_start}documentation%{link_end} for more information.')).html_safe % { link_start: link_start, link_end: link_end, strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }
